node_red/can_logger_flow.json
[
  {
    "id": "mqtt_in",
    "type": "mqtt in",
    "z": "flow1",
    "name": "CAN MQTT In",
    "topic": "sensor/can",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "x": 130,
    "y": 140,
    "wires": [["json_parser"]]
  },
  {
    "id": "json_parser",
    "type": "json",
    "z": "flow1",
    "name": "Parse JSON",
    "property": "payload",
    "action": "",
    "pretty": false,
    "x": 300,
    "y": 140,
    "wires": [
      ["gauge_speed", "gauge_rpm", "chart_speed", "influxdb_out"]
    ]
  },
  {
    "id": "gauge_speed",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "Speed (km/h)",
    "group": "ui_group_can",
    "order": 1,
    "width": 6,
    "height": 2,
    "gtype": "gage",
    "title": "Speed (km/h)",
    "label": "km/h",
    "format": "{{msg.payload.speed}}",
    "min": 0,
    "max": 200,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 540,
    "y": 80,
    "wires": []
  },
  {
    "id": "gauge_rpm",
    "type": "ui_gauge",
    "z": "flow1",
    "name": "RPM",
    "group": "ui_group_can",
    "order": 2,
    "width": 6,
    "height": 2,
    "gtype": "gage",
    "title": "RPM",
    "label": "rpm",
    "format": "{{msg.payload.rpm}}",
    "min": 0,
    "max": 8000,
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "x": 520,
    "y": 140,
    "wires": []
  },
  {
    "id": "chart_speed",
    "type": "ui_chart",
    "z": "flow1",
    "name": "Speed Over Time",
    "group": "ui_group_can",
    "order": 3,
    "width": 12,
    "height": 3,
    "label": "Speed Over Time",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "dot": false,
    "ymin": "0",
    "ymax": "200",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#1f77b4", "#aec7e8", "#ff7f0e"],
    "outputs": 1,
    "x": 550,
    "y": 200,
    "wires": []
  },
  {
    "id": "influxdb_out",
    "type": "influxdb out",
    "z": "flow1",
    "influxdb": "influxdb_config",
    "name": "Log to InfluxDB",
    "measurement": "can_data",
    "precision": "",
    "retentionPolicy": "",
    "database": "logger",
    "precisionV18FluxV20": true,
    "x": 560,
    "y": 260,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Local MQTT",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "influxdb_config",
    "type": "influxdb",
    "hostname": "localhost",
    "port": "8086",
    "protocol": "http",
    "database": "logger",
    "name": "Influx Local",
    "usetls": false,
    "influxdbVersion": "1.x",
    "url": "http://localhost:8086"
  },
  {
    "id": "ui_group_can",
    "type": "ui_group",
    "name": "CAN Dashboard Group",
    "tab": "ui_tab_can",
    "order": 1,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "ui_tab_can",
    "type": "ui_tab",
    "name": "CAN Dashboard",
    "icon": "dashboard",
    "order": 1
  }
]
